---
const cardStyle = "bg-[#B86300] md:text-2xl py-2 md:py-4 text-center ";
const cardLi = "transition-transform duration-300 hover:-translate-y-3 ";
const services = [
  { id: 1, text: "Bathroom tiling", link: "bathroom-tiling", bg: "bathroom" },
  { id: 2, text: "Kitchen tiling", link: "kitchen-tiling", bg: "kitchen" },
  { id: 5, text: "Floor tiling", link: "floor-tiling", bg: "floor" },
  { id: 4, text: "Commercial tiling", link: "commercial-tiling", bg: "office" },
  { id: 3, text: "Outdoor tiling", link: "outdoor-tiling", bg: "outdoor" },
  { id: 6, text: "Shower tiling", link: "shower-tiling", bg: "shower" },
];
---

<section class='bg-[#363333] text-white py-4'>
  <div class='mx-auto max-w-[1400px] px-[16px] py-[8px] md:px-[60px]'>
    <h2 class='text-center text-3xl md:text-5xl font-bold pb-10'>
      Our Tiling Services
    </h2>
    <div>
      <ul
        class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-4 gap-y-6'
      >
        {
          services.map((s) => (
            <li
              class={`${cardLi}`}
              itemscope
              itemtype='http://schema.org/Service'
            >
              <a href={`/${s.link}/`}>
                <div>
                  <div class={`h-[200px] md:h-[400px] bg-[#363333] ${s.bg}`} />
                  <div class={cardStyle} itemprop='name'>
                    {s.text}
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>

<style>
  .bathroom {
    background: url("../../images/services/bathroom.webp") no-repeat
      center/cover;
  }
  .kitchen {
    background: url("../../images/services/kitchen.webp") no-repeat center/cover;
  }
  .office {
    background: url("../../images/services/office.webp") no-repeat center/cover;
  }
  .outdoor {
    background: url("../../images/services/outdoor.webp") no-repeat center/cover;
  }
  .mastic {
    background: url("../../images/services/mastic.webp") no-repeat center/cover;
  }
  .floor {
    background: url("../../images/services/floor.webp") no-repeat center/cover;
  }
  .shower {
    background: url("../../images/services/shower.webp") no-repeat center/cover;
  }
</style>
