---
import bathroom from "../../images/services/bathroom.webp";
import kitchen from "../../images/services/kitchen.webp";
import outdoor from "../../images/services/outdoor.webp";
import commercial from "../../images/services/office.webp";
import floor from "../../images/services/floor.webp";
import mastic from "../../images/services/mastic.webp";
const cardStyle = "bg-[#D7821E] text-2xl py-4 text-center md:w-[400px] ";
const cardLi = "transition-transform duration-300 hover:-translate-y-3";
---

<section class='bg-[#363333] text-white py-10'>
  <div class='mx-auto max-w-[1400px] p-[16px] md:px-[60px]'>
    <h2 class='text-center text-4xl pb-10'>Our Tiling Services</h2>
    <div>
      <nav>
        <ul class='grid grid-cols-1 md:grid-cols-3 gap-4'>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <img src={bathroom} width={400} height={400} />
                <div class={cardStyle}>Bathroom tiling</div>
              </div></a
            >
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <img src={kitchen} width={400} height={400} />
                <div
                  class='bg-[#B86300] text-2xl py-4 text-center md:w-[400px]'
                >
                  Kitchen tiling
                </div>
              </div></a
            >
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <img src={outdoor} width={400} height={400} />
                <div
                  class='bg-[#D7821E] text-2xl py-4 text-center md:w-[400px]'
                >
                  Outdoor tiling
                </div>
              </div></a
            >
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <img src={commercial} width={400} height={400} />
                <div
                  class='bg-[#B86300] text-2xl py-4 text-center md:w-[400px]'
                >
                  Commercial tiling
                </div>
              </div></a
            >
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <img src={floor} width={400} height={400} />
                <div
                  class='bg-[#D7821E] text-2xl py-4 text-center md:w-[400px]'
                >
                  Floor tiling
                </div>
              </div></a
            >
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <img src={mastic} width={400} height={400} />
                <div
                  class='bg-[#B86300] text-2xl py-4 text-center md:w-[400px]'
                >
                  Mastic service
                </div>
              </div></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
