---
const cardStyle = "bg-[#B86300] text-2xl py-4 text-center ";
const cardLi = "transition-transform duration-300 hover:-translate-y-3 ";
---

<section class='bg-[#363333] text-white py-4'>
  <div class='mx-auto max-w-[1400px] px-[16px] py-[8px] md:px-[60px]'>
    <h2 class='text-center text-3xl md:text-5xl font-bold pb-10'>
      Our Tiling Services
    </h2>
    <div>
      <nav>
        <ul
          class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-4 gap-y-6'
        >
          <li class={cardLi}>
            <a href='/bathroom-tiling'>
              <div>
                <div class='h-[300px] md:h-[400px] bg-[#363333] bathroom'></div>
                <div
                  class={cardStyle}
                  style={{ textShadow: "1px  1px  #1f1f2e" }}
                >
                  Bathroom tiling
                </div>
              </div>
            </a>
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <div class='h-[300px] md:h-[400px] bg-[#363333] kitchen'></div>
                <div
                  class='bg-[#B86300] text-2xl py-4 text-center'
                  style={{ textShadow: "1px  1px  #1f1f2e" }}
                >
                  Kitchen tiling
                </div>
              </div></a
            >
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <div class='h-[300px] md:h-[400px] bg-[#363333] outdoor'></div>
                <div
                  style={{ textShadow: "1px  1px  #1f1f2e" }}
                  class='bg-[#B86300] text-2xl py-4 text-center'
                >
                  Outdoor tiling
                </div>
              </div></a
            >
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <div class='h-[300px] md:h-[400px] bg-[#363333] office'></div>
                <div
                  style={{ textShadow: "1px  1px  #1f1f2e" }}
                  class='bg-[#B86300] text-2xl py-4 text-center'
                >
                  Commercial tiling
                </div>
              </div></a
            >
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <div class='h-[300px] md:h-[400px] bg-[#363333] floor'></div>
                <div
                  style={{ textShadow: "1px  1px  #1f1f2e" }}
                  class='bg-[#B86300] text-2xl py-4 text-center'
                >
                  Floor tiling
                </div>
              </div></a
            >
          </li>
          <li class={cardLi}>
            <a href='/'>
              <div>
                <div class='h-[300px] md:h-[400px] bg-[#363333] shower'></div>
                <div
                  style={{ textShadow: "1px  1px  #1f1f2e" }}
                  class='bg-[#B86300] text-2xl py-4 text-center'
                >
                  Shower tiling
                </div>
              </div></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<style>
  .bathroom {
    background: url("../../images/services/bathroom.webp") no-repeat
      center/cover;
  }
  .kitchen {
    background: url("../../images/services/kitchen.webp") no-repeat center/cover;
  }
  .office {
    background: url("../../images/services/office.webp") no-repeat center/cover;
  }
  .outdoor {
    background: url("../../images/services/outdoor.webp") no-repeat center/cover;
  }
  .mastic {
    background: url("../../images/services/mastic.webp") no-repeat center/cover;
  }
  .floor {
    background: url("../../images/services/floor.webp") no-repeat center/cover;
  }
  .shower {
    background: url("../../images/services/shower.webp") no-repeat center/cover;
  }
</style>
