---
const feedbacks = [
  {
    body:"I highly recommend this product! It has exceeded my expectations and made a significant difference in my daily life.",
    author:"John Doe",
    publisher:"Dublin Tiling Service",
    ratingValue:5,
    bestRating:5,
    data:"2023-06-25"

  },
  {
    body:"The customer support for this service is exceptional. They responded promptly to my inquiries and resolved my issues effectively.",
    author:"Jane Smith",
    publisher:"Dublin Tiling Service",
    ratingValue:4,
    bestRating:5,
    data:"2023-06-24"
  }
]
import Review from "./Review.astro";
---

<div class="container mx-auto py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">      
      {feedbacks.map(({body,author,publisher,ratingValue,bestRating,data})=>{return <Review body={body} author={author} publisher={publisher} ratingValue={ratingValue} bestRating={bestRating} data={data}/>})}    
    </div>
  </div>
  