---
import Stars from "./Stars.astro";
interface Props {
  body: string;
  author: string;
  ratingValue: number;
  bestRating: number;
  publisher: string;
  data: string;
}

const { author, body, ratingValue, bestRating, publisher, data } = Astro.props;
---

<li
  class='border px-4 py-6 flex flex-col h-[100%] justify-between'
  itemscope
  itemtype='http://schema.org/Review'
>
  <blockquote
    class='text-sm md:text-sm font-extralight mb-4'
    itemprop='reviewBody'
  >
    {body}
  </blockquote>

  <div>
    <div
      class='flex items-center'
      itemprop='reviewRating'
      itemscope
      itemtype='http://schema.org/Rating'
    >
      <Stars ratingValue={ratingValue} />
      <meta itemprop='ratingValue' content={`${ratingValue}`} />
      <meta itemprop='bestRating' content={`${bestRating}`} />
    </div>
    <div class='flex items-center mt-2'>
      <div>
        <span class='font-semibold' itemprop='author'>{author}</span>
        <meta itemprop='datePublished' content={data} />
        <meta itemprop='publisher' content={publisher} />
      </div>
    </div>
  </div>
</li>
